# Map API keys can be found for free here: https://www.maptiler.com/
VITE_SATELLITE_MAP=<SATELLITE-MAP-API-KEY>
VITE_BASIC_MAP=<BASIC-MAP-API-KEY>
# API FOR THIS GET IT FROM: https://open-meteo.com/
VITE_OPEN_METO_API=<OPEN-METO-API-KEY>
# Your ML / FastAPI backend URL (used for measurements + auth)
VITE_BACKEND_API=http://localhost:8000